@{
    Layout = "_CourseLayout";
    ViewData["Title"] = "Asignaciones";
}

<div class="row">
    <div class="col-md-9 course-content">
        <h2>Asignaciones</h2>
        <p>Contenido de asignaciones</p>
    </div>
</div>


